<a href="https://colab.research.google.com/github/maina-quinn/python-getting-started/blob/main/arithmetic_and_logic_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Maths functions

# Addition/sum
a= 45
b= 78
c= a+b
print(c)

123

In [ ]:
# Subtraction 
a= 70
b= 23
c= a-b
print(c)

47

In [ ]:
# Multiplication 
a= 45
b= 28
c= a*b
print(c)

1260

In [ ]:
# Division
a= 56
b= 42
c= a/b
print(c)

1.3333333333333333

In [ ]:
# Modulus
a= 3588
b= 59
c=a%b
print(c)

48

In [ ]:
# Conditionals
# If 
first_name= input("Enter first name: ")
if first_name== "Dan":
  print("user ",first_name, " found")

Enter first name: Dan
user  Dan  found
Enter the First name: Dan
user  Dan  found

In [ ]:
# If else
first_name= input("Enter the First name: ")
if first_name == "Dan":
  print("user ", first_name, " found")
else:
  print(first_name, " was not found as a user")

Enter the First name: eddie
eddie  was not found as a user

In [ ]:
# Else if
first_name= input("Enter the First name: ")
if first_name == "Dan":
  print("Admin user ", first_name, " found")
elif first_name == "Rocky":
  print("Staff user ", first_name, " found")
else:
  print(first_name, " was not found as a user")

Enter the First name: grim
grim   was not found as a user

In [ ]:
# Using python functions
def hello():
  print("Hello Quinton")

hello()

Hello Quinton

In [ ]:
# Call hello to take input from a user
def hello():
  name= input("Enter your name: ")
  print("Hello ", name)
hello()

Enter your name: Daniel
Hello  Daniel

In [ ]:
# Call hello passing the name as an argument(arg)
def hello(name):
  print("Hello ", name)
hello("Dan")

Hello  Dan

In [ ]:
# Call hello, passing multiple arguments
def hello(first_name, last_name, other_names, age):
  print("Hello ", first_name, last_name, other_names)
  print("You are ", age, " years old")
hello("Daniel", "Maina", "Mwihaki", 34)

Hello  Daniel Maina Mwihaki
You are  34  years old

In [ ]:
# Addition function
print(sum([2,5]))

7

In [ ]:
# addition function
def add(a,b):
  print(a+b)

def subtract(a,b):
  print(a-b)

def multiply(a,b):
  print(a*b)

def divide(a,b):
  print(a/b)

def modulus(a,b):
  print(a%b)

add(34,56)
subtract(56,462)
multiply(34,78)
divide(90,46)
modulus(56,34)

90
-406
2652
1.9565217391304348
22

In [ ]:
# Math functions with return values
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

def modulus(a,b):
  return a/b

print(add(34,78))
print(subtract(57,24))
print(multiply(24,67))
print(divide(45,24))
print(modulus(96,27))

112
33
1608
1.875
3.5555555555555554

In [ ]:
# Calculator function
def calc(operation, a, b):
  if operation== "ADD":
    result= a+b
    print(result)
  elif operation== "SUBTRACT":
    result= a-b
    print(result)
  elif operation== "MULTIPLY":
    result= a*b
    print(result)
  elif operation== "DIVIDE":
    result= a/b
    print(result)
  elif operation== "MODULUS":
    result= a%b
    print(result)
  else:
    print("Operation not available")

calc("ADD", 3, 5)
calc("SUBTRACT", 3, 5)
calc("MULTIPLY", 3, 5)
calc("DIVIDE", 3, 5)
calc("MODULUS", 3, 5)
calc("NONE", 3, 5)

8
-2
15
0.6
3
Operation not available

In [ ]:
# Calculator function reusing existing functions
def add(first_number,second_number):
  return first_number + second_number

def subtract(first_number,second_number):
  return first_number - second_number

def multiply(first_number,second_number):
  return first_number * second_number

def divide(first_number,second_number):
  return first_number / second_number

def modulus(first_number,second_number):
  return first_number % second_number

def calc2():
  a= float(input("what is the first number? "))
  operation= input("what is the operation ")
  b= float(input("what is the second number? "))

  if operation== "+":
    result= add(a, b)
    print(result)
  elif operation== "-":
    result= subtract(a, b)
    print(result)
  elif operation== "*":
    result= multiply(a, b)
    print(result)
  elif operation== "/":
    result= divide(a, b)
    print(result)
  elif operation== "%":
    result= modulus(a, b)
    print(result)
  else:
    print("Operation not available")

calc2()

def calc(operation, a, b):
  if operation== "ADD":
    result= add(a, b)
    print(result)
  elif operation== "SUBTRACT":
    result= subtract(a, b)
    print(result)
  elif operation== "MULTIPLY":
    result= multiply(a, b)
    print(result)
  elif operation== "DIVIDE":
    result= divide(a, b)
    print(result)
  elif operation== "MODULUS":
    result= modulus(a, b)
    print(result)
  else:
    print("Operation not available")

'''
calc("ADD", 3, 5)
calc("SUBTRACT", 3, 5)
calc("MULTIPLY", 3, 5)
calc("DIVIDE", 3, 5)
calc("MODULUS", 3, 5)
calc("NONE", 3, 5)
'''

what is the first number? 30
what is the operation /
what is the second number? 6
5.0

'\ncalc("ADD", 3, 5)\ncalc("SUBTRACT", 3, 5)\ncalc("MULTIPLY", 3, 5)\ncalc("DIVIDE", 3, 5)\ncalc("MODULUS", 3, 5)\ncalc("NONE", 3, 5)\n'

In [ ]:
# let us try the function while asking the user to input the operator, and the numbers 
def calc(first_number, operator, second_number):
  if operator== "+":
    return first_number + second_number
  elif operator== "-":
    return first_number - second_number
  elif operator== "*":
    return first_number * second_number
  elif operator== "/":
    return first_number / second_number
  elif operator== "%":
    return first_number % second_number
  else:
    return "Operation not available"

def calc2():
  first_number= float(input("What is the first number: "))
  operator= input("What is the operator: ")
  second_number= float(input("what is the second number: "))
  
  print(first_number, operator, second_number, "=", calc(first_number, operator, second_number))

calc2()

What is the first number: 23
What is the operator: /
what is the second number: 20
23.0 / 20.0 = 3.0

In [ ]:
# Logic operations
# Logic operators return true or false
# Greater than (>)
print("Ten greater than twenty returns ", 10>20)
print("Twenty greater than ten returns ", 20>10)

# Less than(<)
print("Ten less than twenty returns ", 10<20)
print("Twenty less than ten returns ", 20<10)

# Equal to(==)
# NOTE: Single(=) is used for variable declaration while, double(==) is used to check for comparison
print("Ten equal to ten returns ", 10==10)
print("Twenty equal to ten returns ", 20==10)

# Not equal to(!=)
print("Ten not equal to ten returns ", 10!=10)
print("Twenty not equal to ten returns ", 20!=10)

# Greater than or Equal to(>=)
print("Ten greater than or equal to twenty returns ", 10>=20)
print("Twenty greater than or equal to twenty returns ", 20>=20)
print("Twenty greater than or equal to ten returns ", 20>=10)

# Less than or equal to
print("Ten less than or equal to twenty returns ", 10<=20)
print("Twenty less than or equal to twenty returns ", 20<=20)
print("Twenty less than or equal to ten returns ", 20<=10)

Ten greater than twenty returns  False
Twenty greater than ten returns  True
Ten less than twenty returns  True
Twenty less than ten returns  False
Ten equal to ten returns  True
Twenty equal to ten returns  False
Ten not equal to ten returns  False
Twenty not equal to ten returns  True
Ten greater than or equal to twenty returns  False
Twenty greater than or equal to twenty returns  True
Twenty greater than or equal to ten returns  True
Ten less than or equal to twenty returns  True
Twenty less than or equal to twenty returns  True
Twenty less than or equal to ten returns  False

In [ ]:
# AND
# AND requires that both the compared values are  true
name1= "John"
name2= "Jim"

# Checking for a known true
if name1== "John" and name2== "Jim":
  print("Name1 ", name1, "Name2 ", name2) 

# Checking for an unknown True
if name1== "John" and name2== "Jane":
  print("Name1 ", name1, "Name2 ", name2) 
else:
  print("Either name1 or name2 has an error")

# Using AND to check for a negative statement
# NOT ADVISED
if name1!="Peter" and name2!= "Jack":
  print("Peter and Jack not found")
else:
  print("Peter and Jack found")

Name1  John Name2  Jim
Either name1 or name2 has an error
Neither name1 nor name2 is valid

In [ ]:
# OR
# Logical OR checks if either of the scenarios is true
name1= "John"
name2= "Jim"

# Checking for both sceraios as true
if name1== "John" or name2== "Jim":
  print("Name1 ", name1, "Name2 ", name2)

# Checking when only the first scenario is true
if name1== "John" or name2== "Peter":
  print("Found ", name1, "or Peter ")

# Checking when only the second scenario is true
if name1== "Peter" or name2=="Jim":
  print("Found Peter or ", name2 )

# Checking when neither of the scenarios is true
if name1== "Peter" or name2=="Jack":
  print("Found peter or Jack")
else:
  print("Neither Peter Nor Jack was found")

Name1  John Name2  Jim
Found  John or Peter
Found Peter or  Jim
Neither Peter Nor Jack was found

In [ ]:
# Using AND & OR
# When using both operators, AND precedes OR
# For the result to be true the very first scenario has to be true
name1= "John"
name2= "Jim"

# Check for when it's true before the OR operator
if name1== "John" and name2== "Jim" or name2== "Peter":
  print("Found ", name1, " and ", name2)

# Check for when the OR operator makes it true
if name1== "John" and name2== "Peter" or name2== "Jim":
  print("Found ", name1, " and ", name2)

if name2== "Jim" and name1== "John" or name1== "Peter":
  print("Found ", name2, " and ", name1)

if name2== "Jim" and name1== "Peter" or name1== "John":
  print("Found ", name2, " and ", name1)

# When the first Scenario is False
if name1== "Peter" and name2== "Jim" or name2== "Jane":
  print("Found ", name1, " and ", name2)
else:
  print("The first scenario was false")

if name2== "Jane" and name1== "Jack" or name1== "Tedd":
  print("Found ", name2, "and ", name1)
else:
  print("The first scenario was false")

Found  John  and  Jim
Found  John  and  Jim
Found  Jim  and  John
Found  Jim  and  John
The first scenario was false
The first scenario was false

In [ ]:
# Let us write a function that determines the students' Grade depending on the score given
def grade(score):
  if score>100 or score<0:
    return "Invalid Score"
  if score>=80:
    return "The Student has an A"
  elif score>= 70:
    return "The student has a B"
  elif score>= 60:
    return "The student has a C"
  elif score>= 50:
    return "The student has a D"
  elif score<40:
    return "The student has failed!!!"

def grd():
  score= int(input("what is the students'score: "))
  print(grade(score))
grd()

what is the students'score: 200
Invalid Score