In [3]:
# Maths functions

# Addition/sum
a= 45
b= 78
c= a+b
print(c)

123

In [4]:
# Subtraction 
a= 70
b= 23
c= a-b
print(c)

47

In [5]:
# Multiplication 
a= 45
b= 28
c= a*b
print(c)

1260

In [6]:
# Division
a= 56
b= 42
c= a/b
print(c)

1.3333333333333333

In [7]:
# Modulus
a= 3588
b= 59
c=a%b
print(c)

48

In [13]:
# Conditionals
# If 
first_name= input("Enter first name: ")
if first_name== "Dan":
  print("user ",first_name, " found")

Enter first name: Dan
user  Dan  found
Enter the First name: Dan
user  Dan  found

In [14]:
# If else
first_name= input("Enter the First name: ")
if first_name == "Dan":
  print("user ", first_name, " found")
else:
  print(first_name, " was not found as a user")

Enter the First name: eddie
eddie  was not found as a user

In [16]:
# Else if
first_name= input("Enter the First name: ")
if first_name == "Dan":
  print("Admin user ", first_name, " found")
elif first_name == "Rocky":
  print("Staff user ", first_name, " found")
else:
  print(first_name, " was not found as a user")

Enter the First name: grim
grim   was not found as a user

In [18]:
# Using python functions
def hello():
  print("Hello Quinton")

hello()

Hello Quinton

In [19]:
# Call hello to take input from a user
def hello():
  name= input("Enter your name: ")
  print("Hello ", name)
hello()

Enter your name: Daniel
Hello  Daniel

In [20]:
# Call hello passing the name as an argument(arg)
def hello(name):
  print("Hello ", name)
hello("Dan")

Hello  Dan

In [26]:
# Call hello, passing multiple arguments
def hello(first_name, last_name, other_names, age):
  print("Hello ", first_name, last_name, other_names)
  print("You are ", age, " years old")
hello("Daniel", "Maina", "Mwihaki", 34)

Hello  Daniel Maina Mwihaki
You are  34  years old

In [27]:
# Addition function
print(sum([2,5]))

7

In [30]:
# addition function
def add(a,b):
  print(a+b)

def subtract(a,b):
  print(a-b)

def multiply(a,b):
  print(a*b)

def divide(a,b):
  print(a/b)

def modulus(a,b):
  print(a%b)

add(34,56)
subtract(56,462)
multiply(34,78)
divide(90,46)
modulus(56,34)

90
-406
2652
1.9565217391304348
22

In [33]:
# Math functions with return values
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

def modulus(a,b):
  return a/b

print(add(34,78))
print(subtract(57,24))
print(multiply(24,67))
print(divide(45,24))
print(modulus(96,27))

112
33
1608
1.875
3.5555555555555554

In [36]:
# Calculator function
def calc(operation, a, b):
  if operation== "ADD":
    result= a+b
    print(result)
  elif operation== "SUBTRACT":
    result= a-b
    print(result)
  elif operation== "MULTIPLY":
    result= a*b
    print(result)
  elif operation== "DIVIDE":
    result= a/b
    print(result)
  elif operation== "MODULUS":
    result= a%b
    print(result)
  else:
    print("Operation not available")

calc("ADD", 3, 5)

8

In [54]:
# let us try the function while asking the user to input the operator, and the numbers 
def calc(first_number, operator, second_number):
  if operator== "+":
    return first_number+ second_number
  elif operator== "-":
    return first_number - second_number
  elif operator== "*":
    return first_number - second_number
  elif operator== "/":
    return first_number - second_number
  elif operator== "%":
    return first_number - second_number
  else:
    return "Operation not available"

def calc2():
  first_number= float(input("What is the first number: "))
  operator= input("What is the operator: ")
  second_number= float(input("what is the second number: "))
  
  print(first_number, operator, second_number, "=", calc(first_number, operator, second_number))

calc2()

What is the first number: 30
What is the operator: *
what is the second number: 30
30.0 * 30.0 = 0.0